@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  font-family: var(--font-ubuntu-mono), var(--font-noto-sans), var(--font-twemoji);
}

::-webkit-scrollbar {
  @apply hidden bg-transparent;
}

form {
  @apply contents;
}

@media screen(sm) {
  ::-webkit-scrollbar {
    @apply block;
  }

  ::-webkit-scrollbar:vertical {
    @apply w-1.5;
  }

  ::-webkit-scrollbar:horizontal {
    @apply h-1.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-primary;
  }
}
